<div class="text-center form-image" {{ conditional_display }}>
  <img src="{{ form_item.localized_image_url }}" style="max-width: 100%; max-height: {{ form_item.options.height }}; width: {{ form_item.options.width }}" />
</div>