<div class="container {{ settings.spacing }}" data-section-id="{{ section.id }}" data-section-type="title">
  <div class="text-center">
    <h2 class="title {% if section.settings.text_size == 'large' %}big-title{% endif %} down-s">{{ section.settings.title }}</h1>
    {% if section.settings.text.html.size > 6 %}
      <div class="h2-subtitle {% if section.settings.text_size == 'large' %}big-subtitle{% endif %} down-s">{{ section.settings.text.html | parse_liquid }}</div>
    {% endif %}
    {% include "button", params: section.settings %}
  </div>
</div>

{% schema %}
  {
    "name": "Title only",
    "name_translations": { "fr": "Titre seul" },
    "class": "index-section",
    "icon": "fa fa-font",
    "hidden_from_user": false,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "label_translations": { "fr": "Titre" },
        "default": "Title",
        "default_translations": { "fr": "Titre" }
      },
      {
        "type": "rte",
        "id": "text",
        "label": "Text",
        "label_translations": { "fr": "Texte" },
        "default": "Cum autem commodis intervallata temporibus convivia longa et noxia coeperint autem commodis intervallata temporibus convivia longa et noxia coeperint autem commodis intervallata temporibus convivia longa et noxia coeperint."
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "label_translations": { "fr": "Taille du texte" },
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "label_translations": { "fr": "Moyen" },
            "value": "medium"
          },
          {
            "label": "Large",
            "label_translations": { "fr": "Gros" },
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button type",
        "label_translations": { "fr": "Type du bouton" },
        "default": "external_link",
        "options": [
          {
            "value": "external_link",
            "label": "External link",
            "label_translations": { "fr": "Lien externe" }
          },
          {
            "value": "website_page",
            "label": "Link to another page",
            "label_translations": { "fr": "Lien vers une autre page" }
          },
          {
            "value": "add_to_my_calendar",
            "label": "Add to my calendar",
            "label_translations": { "fr": "Ajouter à mon calendrier" }
          },
          {
            "value": "declined",
            "label": "RSVP declined",
            "label_translations": { "fr": "RSVP décliner" }
          },
          {
            "value": "accepted",
            "label": "RSVP accepted",
            "label_translations": { "fr": "RSVP accepter" }
          },
          {
            "value": "badge",
            "label": "Badge",
            "label_translations": { "fr": "Badge" }
          },
          {
            "value": "document",
            "label": "Document",
            "label_translations": { "fr": "Document" }
          }
        ]
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button link",
        "label_translations": { "fr": "Lien du bouton" },
        "show_if": {
          "source_id": "button_type",
          "operator": "==",
          "value": "external_link"
        }
      },
      {
        "type": "website_page_picker",
        "id": "website_page_url",
        "label": "Link to your website's page",
        "label_translations": { "fr": "Lien vers une page de votre site" },
        "show_if": {
          "source_id": "button_type",
          "operator": "==",
          "value": "website_page"
        }
      },
      {
        "type": "checkbox",
        "id": "auto_submit",
        "label": "Auto submit",
        "label_translations": { "fr": "Soumission automatique" },
        "default": true,
        "show_if": {
          "source_id": "button_type",
          "operator": "=~",
          "value": "^(?:accepted|declined)$"
        }
      },
      {
        "type": "checkbox",
        "id": "enable_change_category",
        "label": "Change the guest's category",
        "label_translations": { "fr": "Changer le participant de catégorie" },
        "info": "Link to the guest's registration form. By selecting a category, the guest will be transfered to this new category on form submission.",
        "info_translations": { "fr" : "Lien vers le formulaire d'inscription du participant. En sélectionnant une catégorie, le participant sera transféré vers cette nouvelle catégorie à la soumission du formulaire." },
        "default": false,
        "show_if": {
          "source_id": "button_type",
          "operator": "=~",
          "value": "^(?:accepted|declined)$"
        }
      },
      {
        "type": "guest_category_picker",
        "id": "guest_category_id",
        "label": "Choose the registration category",
        "label_translations": { "fr": "Choisir la catégorie d'inscription" },
        "show_if": {
          "source_id": "enable_change_category",
          "operator": "==",
          "value": true
        }
      },
      {
        "type": "document_picker",
        "id": "document_name",
        "label": "Document",
        "label_translations": { "fr": "Document" },
        "info": "The button is a direct link to the document's PDF, on the condition that the document has been configured in the guest's category",
        "info_translations": { "fr" : "Lien direct vers le PDF du document de votre choix, à condition que le document ait été configuré dans la catégorie du participant" },
        "show_if": {
          "source_id": "button_type",
          "operator": "==",
          "value": "document"
        }
      },
      {
        "type": "checkbox",
        "id": "enable_icon",
        "label": "Show the icon",
        "label_translations": { "fr": "Montrer l'icône" },
        "default": true,
        "show_if": {
          "source_id": "button_type",
          "operator": "==",
          "value": "add_to_my_calendar"
        }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button text",
        "label_translations": { "fr": "Libellé du bouton" }
      },
      {
        "type": "checkbox",
        "id": "enable_custom_css",
        "label": "Apply a custom style",
        "label_translations": { "fr": "Appliquer un style personnalisé" },
        "default": false
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button color",
        "label_translations": { "fr": "Couleur du bouton" },
        "show_if": {
          "source_id": "enable_custom_css",
          "operator": "==",
          "value": true
        },
        "default": "#000"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text color",
        "label_translations": { "fr": "Couleur du texte du bouton" },
        "show_if": {
          "source_id": "enable_custom_css",
          "operator": "==",
          "value": true
        },
        "default": "#000"
      },
      {
        "type": "select",
        "id": "button_align",
        "label": "Button align",
        "label_translations": { "fr": "Alignement du bouton" },
        "default": "center",
        "options": [
          {
            "label": "Right",
            "label_translations": { "fr": "Droite" },
            "value": "right"
          },
          {
            "label": "Center",
            "label_translations": { "fr": "Centre" },
            "value": "center"
          },
          {
            "label": "Left",
            "label_translations": { "fr": "Gauche" },
            "value": "left"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Title only",
        "name_translations": { "fr": "Titre seul" }
      }
    ]
  }
{% endschema %}
