<div class="alert alert-danger">
  {% if title != nil %}
    <span><strong>{{ t.form_contains_errors }}</strong></span>
  {% endif %}
  <ul>
    {% for error in guest.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>