{% if paginate.total_pages > 1 %}
  <ul class="pagination">
    {% if pagination_type == "numbered" %}
      {% for part in paginate.parts %}
        <li {% if part.is_link == false and part.current == true %}class="active"{% endif %}>
          <a {% if part.is_link == true %}href="{{ part.url }}"{% endif %}>{{ part.title }}</a>
        </li>
      {% endfor %}
    {% else if pagination_type == "non_numbered" %}
      {% for part in paginate.parts %}
        {% if part.page == paginate.previous_page %}
          <li><a href="{{ part.url }}">&lang;</a></li>
        {% endif %}

        {% if part.page == paginate.next_page %}
          <li><a href="{{ part.url }}">&rang;</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}